<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="Form">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../static/css/expenseList.css">
		<title>経費一覧</title>
	</head>



   
    <body>
        <h2>経費一覧</h2>

        <div class="Form-Item">
            <p class="Form-Item-Label">
              User ID
            </p>
            <input type="search" class="Form-Item-Input" placeholder="例）team2309">
        </div>

        <button class="Form-Btn-s">検索</button>

        <table border="1">
            <tr>
                <th>申請日</th>
                <th>項目</th>
                <th>金額</th>
                <th>備考</th>
            </tr>
            <tr>
                <td>YYYYMMDD</td>
                <td>田中太郎</td>
                <td>11500</td>
                <td>東京国際クルーズターミナル〜新橋</td>
            </tr>
            <tr>
                <td>YYYYMMDD</td>
                <td>山田花子</td>
                <td>11500</td>
                <td>東京国際クルーズターミナル〜新橋</td>
            </tr>
            <tr>
                <td>YYYYMMDD</td>
                <td>鈴木次郎</td>
                <td>11500</td>
                <td>東京国際クルーズターミナル〜新橋</td>
            </tr>
            <tr>
                <td>YYYYMMDD</td>
                <td>鈴木次郎</td>
                <td>11500</td>
                <td>東京国際クルーズターミナル〜新橋</td>
            </tr>
            <tr>
                <td>YYYYMMDD</td>
                <td>鈴木次郎</td>
                <td>11500</td>
                <td>東京国際クルーズターミナル〜新橋</td>
            </tr>
        </table>  
        <button class="Form-Btn-r">戻る</button>
    </body>
</div>

