<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/expenseadjustment.css}">
	<title>経費修正</title>
</head>

<body>
<table>
        <tr th:if="${validationError}" th:each="error : ${validationError}">
            <td style="color: red;" th:text="${error}"></td>
        </tr>
    </table>
    
	<div class="Form">

		<h2>経費修正</h2>

		<form th:action="@{/user/expenseadjustment/ceate}" th:object="${expenseAdjustmentRequest}" th:method="post">
		
			<div class="Form-Item">
				<p class="Form-Item-Label">
					<span class="Form-Item-Label-Required">必須</span>経費ID
				</p>
				<input type="search" th:field="*{expenseId}" class="Form-Item-Input" placeholder="例）team2309">
			</div>

			<div class="Form-Item">
				<p class="Form-Item-Label">
					<span class="Form-Item-Label-Required">必須</span>申請日
				</p>
				<input type="text" th:field="*{applicationDate}" class="Form-Item-Input" placeholder="YYYYMMDD">
			</div>

			<div class="Form-Item">
				<p class="Form-Item-Label">
					<span class="Form-Item-Label-Required">必須</span>項目
				</p>
				<input type="text" th:field="*{item}" class="Form-Item-Input" placeholder="例）交通費">
			</div>

			<div class="Form-Item">
				<p class="Form-Item-Label">
					<span class="Form-Item-Label-Required">必須</span>金額
				</p>
				<input type="text" th:field="*{price}" class="Form-Item-Input" placeholder="例）24980">
			</div>

			<div class="Form-Item">
				<p class="Form-Item-Label isMsg">備考</p>
				<textarea class="Form-Item-Textarea" th:field="*{remarks}"></textarea>
			</div>

			<button class="Form-Btn-a" type="submit">修正申請</button>

			<button class="Form-Btn-r">戻る</button>

		</form>

	</div>

</body>

</html>