<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="Form">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" th:href="@{/css/expenseList.css}">
		<title>経費一覧</title>
	</head>


	<body>
		<h2>経費一覧</h2>

		<div class="Form-Item"> <!--なんかこれ消したらグレーの細い線が消える-->
		</div>

		<table border="1">
			<thead>
				<tr>
					<th>User ID</th>
					<th>申請日</th>
					<th>項目</th>
					<th>金額</th>
					<th>備考</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="expenseClaim : ${expenseList}" th:object="${expenseClaim}" class="align-middle">
					<td th:text="*{userId}"></td>
					<td th:text="${#dates.format(expenseClaim.applicationDate, 'yyyy/MM/dd')}"></td>
					<td th:text="*{item}"></td>
					<td th:text="*{price}"></td>
					<td th:text="*{remarks}"></td>
				</tr>
			</tbody>

		</table>
		<a th:href="@{/mypage}"><button class="Form-Btn-r">戻る</button></a>
	</body>
</div>