.containerbox{
    display: flex;
    align-items: center; 
}

h1 {
    margin-right: 20px; 
}

input[type="text"] {
    width: 200px; 
    padding: 5px;
    border: 1px solid #ccc;
}

table{
width: 90%;
border-collapse: collapse;
font-size: 12px;
margin: 0 auto;
}

table th, table td {
border: 1px solid #ddd;
padding: 6px;
}

table th {
background-color: #F2F2F2;
}

.center-cell{
    text-align: center;
}

